@model DAL.Models.Review
@{
    ViewBag.Title = "Добавьте свой отзыв";
}
<ul>
        <li>
            <div class="articleHeader">
                <div class="articleHeaderReadArticle"></div>
            </div>

            <div class="articleContainer">
                <div class="divArticleContainerLogo">
                    <div class="divArticleContainerLogoContainer">
                    </div>
                </div>
                <div class="divArticleContainerText">
                    <div>
                        @using ( Html.BeginForm ("AddReview","Main",FormMethod.Post) )
                            { 
                           
                           @Html.EditorFor(model => model.Name,new
                          {
                          htmlAttributes = new
                              {
                              placeholder = "Укажите Ваше имя"
                              }
                          })
                           @Html.ValidationMessageFor(model => model.Name, "Необходимо указать имя", new { @class = "text-danger" })
                          
                                @Html.TextAreaFor(m => m.Text,new
                               {
                               placeholder = "Напишите тут..",
                               style = "height:200px"
                               })
                                @Html.ValidationMessageFor(n => n.Text, "Напишите нам что-то", new { @class = "text-danger" })
                                <br>
                                <button class="button">Сохранить отзыв</button>
                                }
</div>
                </div>
            </div>
        </li>
        <div class="articleSpace"></div>
</ul>

@section Menu
{<div class="menu">
        <div>@Html.ActionLink("Главная","Index","Main")</div>
        <div>@Html.ActionLink("Гостевая","GuestPage","Main")</div>
        <div>@Html.ActionLink("Анкета","AddProfile","Main")</div>
    </div>
}
